
  * {
    box-sizing: border-box;
  }

  body {
    padding: 2rem;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to right, #00b09b, #96c93d);
    background: #1a2a6c;
    background: -webkit-linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
    background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }

  p {
    margin: 0 0 20px 0;
  }

  .title {
    margin: 0 auto 2em auto;
    text-align: center;
    padding: 0 0.5em;
    color: #fff;
  }

  .msg {
    font-family: 'Codystar', 'Open Sans', sans-serif;
    font-weight: 800;
  }

  .mega {
    font-size: 2em;
  }

  .wrapper {
    display: flex;
    justify-content: stretch;
  }

  .close {
    background: rgba(85, 46, 120, 0.2);
    color: rgba(85, 46, 120);
    border: 2px solid rgba(85, 46, 120);
    border-radius: 8px;
    padding: 0 0.75em;
    font-family: 'Baloo', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1em;
    float: right;
  }

  .close:hover {
    background: rgba(85, 46, 120);
    color: #fff;
  }

  .item:hover {
    cursor: pointer;
  }

  @media (max-width: 60.25em) {
    .close {
      /* color: green; */
      font-size: 0.9rem;
      margin-bottom: 0.5em
    }
    .overlay-inner {
      padding: 0.5em;
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, auto));
    grid-auto-rows: minmax(80px, 10px);
    grid-auto-flow: dense;
  }

  .item {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
  }

  .item img {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .item__overlay {
    background: rgba(85, 46, 120, 0.5);
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transition: 0.2s;
    transform: translateY(100%);
  }

  .item__overlay button {
    background: none;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.7);
    padding: 0.2em 1em;
    font-family: 'Baloo', sans-serif;
  }

  .item:hover .item__overlay {
    transform: translateY(0);
  }

  .item.v2 {
    grid-row: span 2;
  }

  .item.v3 {
    grid-row: span 3;
  }

  .item.v4 {
    grid-row: span 4;
  }

  .item.h2 {
    grid-column: span 2;
  }

  .item.h3 {
    grid-column: span 3;
  }

  .item.h4 {
    grid-column: span 4;
  }


  .overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
  }

  .overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
  }

  .overlay-inner {
    background: white;
    max-width: 800px;
    width: 90vw;
    padding: 1em;
  }

  .overlay img {
    width: 100%;
  }